{% extends 'base.html' %}

{% block content %}
<style>
    .container {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 20px;
    }
    div {
        margin-bottom: 10px;
    }
</style>
</head>
<body>
<div class="container">
    <div>
        Algoritmos y Estructuras de Datos 3
    </div>
    <div>
        Primer Parcial - Python web api
    </div>
    <div>
        Alumnos:
    </div>
    <div>
        Di Gialleonardo Matias
    </div>
    <div>
        <del>Baggio</del> Vaggi Kevin
    </div>
</div>

{% endblock %}

